<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cheng.dao.topicDao">
    <resultMap id="topicMap" type="com.cheng.pojo.topic">
        <id column="tId" property="tId"/>
        <result column="sId" property="sId"/>
        <result column="uId" property="uId"/>
        <result column="tTitle" property="tTitle"/>
        <result column="tContent" property="tContent"/>
        <result column="tTime" property="tTime"/>
        <result column="tLike" property="tLike"/>
    </resultMap>
    <select id="SearchForPosts" resultMap="topicMap">
        select t.*,u.uName,u.uEmail,u.uSex from
        topic t,user u where tTitle=#{tTitle} and t.uId=u.uId
    </select>
</mapper>